@import "./assets/css/user-information.css";
@import "./assets/css/student.css";
@import "./assets/css/admin.css";
@import "./assets/css/my-class.css";
@import "./assets/css/statistics.css";
@import "./assets/css/course.css";
@import "./assets/css/portfolio.css";
@import "./assets/css/certificate.css";
@import "./assets/css/active-class.css";
@import "./assets/css/inprogress.css";
@import "./assets/css/class-collection.css";
@import "./assets/css/submission.css";
@import "./assets/css/checkout.css";

* {
    padding: 0;
    margin: 0;
}

body {
    color: black;
}

#dropdown-basic {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}