body {
    color: black !important;
}

/* Admin */
/* message */
.message span {
    color: black !important;
}

/* account */
.account {
    position: absolute;
    right: 20px;
    top: 70px;
    width: 300px;
    border-radius: 10px;
    color: black;
}


/* Siswa */